<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856677742822-li0fdfpk5t48ul2vuedqjulkcuulnjrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856677742822-li0fdfpk5t48ul2vuedqjulkcuulnjrd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>856677742822-bfrtqoqek309get660d134bc6n6eg56r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuE3I-Q55o7WX54DMjEhJmBPgiNritdW4</string>
	<key>GCM_SENDER_ID</key>
	<string>856677742822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.mindera.peopleaios</string>
	<key>PROJECT_ID</key>
	<string>mindera-people-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>mindera-people-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856677742822:ios:0a1d8f9c7d86e8856ba327</string>
</dict>
</plist>